/* block_img */

.block_img {
  display: none;


  @media(min-width: 1220px) {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    position: absolute;
    left: 50.34px;
    top: 50px;
    z-index: 11;

    background: rgba(23, 161, 204, 0.7);

  }
}