/* header */

.header {
  margin: 0 0 60px;

  @media(min-width: 1220px) {
    margin: 0 0 155.97px;
  }
}


.header--title {
  margin: 30px 0 0;


  @media (min-width:535px) {
    width: 435px;
  }
}

.header--title h1 {
  margin: 0;
  font-family: Teko-Light;
  font-style: normal;
  font-weight: 300;
  font-size: 120px;
  line-height: 108px;
  color: #17A1CC;


  span {
    color: #fff;

    @media (min: width 1220px) {
      font-size: 180px;
      line-height: 90%;

      /* or 162px */
    }
  }


  @media (min: width 1220px) {
    font-size: 180px;
    line-height: 90%;

    /* or 162px */
  }
}