/* icons_block */

.icons_block {
  height: 116px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width:535px) {
    flex-direction: row;
    width: 435px;
    height: 100%;
  }
}