/* news */

.news {
  position: relative;
  padding: 20px 20px 40px;
  margin: 20px 0;
  background: rgba(34, 36, 43, 0.8);

  h3 {
    font-family: Teko-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 7px;
    color: #17A1CC;
  }

  h2 {
    margin: 16px 0 20px;

    font-family: Teko-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 100%;
    color: #fff;

    @media (min-width:1220px) {
      margin: 16px 0 40px;
  }
}

  p {
    padding: 0 0 20px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    color: #FFF;

    @media (min-width:1220px) {
      padding: 0 0 40px;
    }
  }


  @media (min-width:1220px) {
    margin: 20px auto;
    padding: 60px 70px 60px 290px;
  }
}