/* page */

.page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 70px 30px 40px;
    background: $bg_color no-repeat 50% 0 url(../img/backgrounds/bg_mob.webp);

    @media (min-width:0) {
        width: 360px;
    }

    @media (min-width:361px) {
        width: 100%;
        background-image: url(../img/backgrounds/bg_desctop.webp);
    }

    @media(min-width:1220px) {
        width: 1160px;
        background-position: 100% 0;
        padding: 137.33px 0 157.7px;
    }
}